{% if page.comments != false %}
  <section class="comments">
    <h2>评论</h2>
    <!--{% include disqus.html %}-->
    <!--<p>╮(╯-╰)╭ 暂时还没有人评论。。。</p>-->
    <!-- UY BEGIN -->
	<div id="uyan_frame"></div>
<!--自定义
	<script type="text/javascript">
		var uyan_config = {
		     'title':'自定义网页标题 #微博话题#', 
		     'url':'自定义网页链接', 
		     'pic':'自定义图片链接地址，设置为空值则不分享图片', 
		     'vid':'自定义视频链接地址', 
		     'du':'自定义指定域名', 
		     'su':'自定义网页标识' 
		};
	</script>
-->
	<script type="text/javascript" src="http://v2.uyan.cc/code/uyan.js?uid=2143551"></script>
	<!-- UY END -->
  </section>
{% endif %}