<!-- gitment -->
<div id="container"></div>
<link rel="stylesheet" href="https://imsun.github.io/gitment/style/default.css">
<script src="https://imsun.github.io/gitment/dist/gitment.browser.js"></script>
<script>
	var page_date = '{{ page.date }}';
	//var id = window.location.href;
	//if(page_date > '2018-04-31 00:00:00 +0000'){
	var	id = page_date;
	//}
	var gitment = new Gitment({
  		id: id, // 可选。默认为 location.href
  		owner: 'heropoo',
  		repo: 'heropoo.github.io',
  		oauth: {
    		client_id: 'c430d2eaf44b83c81702',
    		client_secret: 'e1d062d2e1494468fc903c9c8fe61d88a921e68c',
  		},
	});
	gitment.render('container');
</script>
<!-- end gitment -->