<!-- gitment -->
<div id="container"></div>
<link rel="stylesheet" href="https://imsun.github.io/gitment/style/default.css">
<script src="https://imsun.github.io/gitment/dist/gitment.browser.js"></script>
<script>
var gitment = new Gitment({
  id: '<%= page.date %>', // 可选。默认为 location.href
  owner: 'heropoo',
  repo: 'heropoo.github.io',
  oauth: {
    client_id: 'c430d2eaf44b83c81702',
    client_secret: '591a53878ed700de0b2bc1bc06d8e16e44ded19d',
  },
})
gitment.render('container')
</script>
<!-- end gitment -->