<!-- gitment -->
<div id="container"></div>
<link rel="stylesheet" href="/assets/lib/gitment/css/default.css">
<script src="/assets/lib/gitment/gitment.browser.js"></script>
<script>
	var page_date = '{{ page.date }}';
	var id = window.location.href;
	if(page_date > '2018-04-31 00:00:00 +0000'){
		id = page_date;
	}
	var gitment = new Gitment({
  		id: id, // 可选。默认为 location.href
  		owner: 'heropoo',
  		repo: 'heropoo.github.io',
  		oauth: {
    		client_id: 'c430d2eaf44b83c81702',
    		client_secret: '591a53878ed700de0b2bc1bc06d8e16e44ded19d',
  		},
	});
	gitment.render('container');
</script>
<!-- end gitment -->