<form action="https://bing.com/search" class="search-form" id="searchForm">
  <div class="search-row">
    <input id="search-bar" type="search" name="q" required />

    {% comment %}
      Hacky strip of protocol to the sitesearch value we pass to Google
    {% endcomment %}
    {% assign url = site.url | replace_first: 'https://', '' %}
    {% assign url = url | replace_first: 'http://', '' %}
    {% assign url = url | replace_first: 'spdy://', '' %}
    {% assign url = url | replace_first: '//', '' %}
    <input name="sitesearch" type="hidden" id="sitesearch" value="{{ url }}{{ site.baseurl }}" />

    <input type="submit" value="Search" />
  </div>
</form>
<script type="text/javascript">
  var searchForm = document.getElementById('searchForm');
  searchForm.onsubmit = function(){
    var url = this.action;
    var q = document.getElementById('search-bar').value;
    var site = document.getElementById('sitesearch').value;
    var url = url + '?q='+q+' site:'+ site;
    window.open(url);
    return false;
  };
</script>